@tailwind base;
@tailwind components;
@layer components {
	.fade_in {
		animation: fadeInAnimation 0.25s ease-in;
	}

	@keyframes fadeInAnimation {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.flinch {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	.flinch:active:hover,
	.flinch:active:focus {
		animation: button-pop 0s ease-out;
		transform: scale(var(--btn-focus-scale, 0.97));
	}

	@keyframes button-pop {
		0% {
			transform: scale(var(--btn-focus-scale, 0.98));
		}

		40% {
			transform: scale(1.02);
		}

		100% {
			transform: scale(1);
		}
	}
}

@tailwind utilities;
